.main {
    display: flex;
    justify-content: center;
}

.main__sections {
    display:flex;
}

.main__form-group {
    display: flex;
    flex-direction: column;
}

.main__profile-completeness-list {
    padding: 1em;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: lightgray;
}