.main {
    display: flex;
    justify-content: center;
}

.main__sections {
    display:flex;
}

.main__profile-completeness-list {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}