.main {
    display: flex;
    justify-content: center;
}

.main__sections {
    display:flex;
}

.main__form-section {
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    justify-content: center;
}

.main__form-group {
    display: flex;
    flex-direction: column;
}

.main__form-button {
    color: white;
    padding: 0 1em 0 1em;
    border-radius: 0.5em;
    background-color: black;
}

.main__profile-completeness-list {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
}