.wrapper {
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__navigation-wrapper {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reviews-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reviews-content {
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .wrapper {
        width: 1280px;
    }
    .header {
        flex-direction: row;
    }

    .header__logo-wrapper {
        flex-direction: row;
    }

    .content-container {
        flex-direction: row;
    }

    .experience-container {
        align-items: self-start;
    }

    .reviews-container{
        align-items: self-start;
    }

    .reviews-content {
        flex-direction: row;
    }
}
