.wrapper {
    width: width 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__navigation-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation {
    width: 80%;
    display: flex;
    justify-content: center;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation__list-element {
    margin: 0 5px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__profile-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
}

.main__content-wrapper {
    width: 100%;
    display: flex;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content__projects-wrapper {
    display: flex;
}

.content__experience-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__reviews-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
}
/*
@media (min-width: 768px) {
    .wrapper {
        width: 1280px;
    }
    .header {
        flex-direction: row;
    }

    .header__logo-wrapper {
        flex-direction: row;
    }

    .content-container {
        flex-direction: row;
    }

    .experience-container {
        align-items: self-start;
    }

    .reviews-container{
        align-items: self-start;
    }

    .reviews-content {
        flex-direction: row;
    }
}
*/