.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.datapicker {
    display: flex;
    flex-direction: column;
}

.datapicker__controls {
    border: 1px solid;
}

.datapicker__calendar {
    border: 1px solid;
    margin-top: 2px;
}

.calendar {
    width: fit-content;
}

.calendar__heading {
    display: flex;
}

.calendar__weekdays {
    display: flex;
    justify-content: space-around;
}

.calendar__days {
    display: flex;
    flex-wrap: wrap;
}


.calendar__day {
    width: 14.2857%;
    display: flex;
    justify-content: center;
}