.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.datapicker {
    display: flex;
    flex-direction: column;
}

.datapicker__controls {
    border: 1px solid;
}

.datapicker__calendar {
    border: 1px solid;  
}

.calendar__weekdays {
    display: flex;
    justify-content: center;
}